@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: static;
    width: 100%;
    margin-top: 5%;
    overflow: hidden;
}
#languages{
    float: left;
    width: 40%;
    margin: -20px 50px 50px 80px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.02);
    position: static;
    height: auto;
    border: 1px rgb(212, 210, 210) solid;
    border-radius: 10px;
    
    

}
#languages h3{
    text-align: center;
    font-family: 'Bungee';
    color: #555;
    font-size: 20px;
}
#languages sub{
    font-family: 'BioRhyme', serif;
    color: #555;
    padding-bottom: 10px;
    font-size: 10px;
    width: 85%;
    margin-left: 10%;
    margin-top: 4%;
    text-align: center;
    line-height: 2.6em;
}
.box-language{
    width: 80%;
    border: 1px rgb(212, 210, 210) solid;
    display: flex;
    margin-left: 10%;
    margin-bottom: 3%;
    transition: all .3s ease;
    align-items: center;
    justify-content:center;
    position: static;
    border-radius: 5px;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);

}
.box-language:hover{
    background-color: rgb(160, 157, 157);
    color: #555;
    width: 85%;
    box-shadow: 0 4px 10px 0 RGB(43 80 237 / 30%);
}
.img{
   display: flex;
   position: static;
   padding: 5px;
   
   float: left;
   width: 30%;
}
.img img{
    border-radius: 50%;
    width: 25%;
    background-color: #fff;
    
}
.percent-language{
  width: 60%;
  float: left;
  color: #555;
  margin-left: -15%;
  padding: 10px;
}
.percent-language sub{
    display: inline;
    margin-left: 2%;
    font-size: 10px;
    color: #555;
    font-family: 'BioRhyme', serif;
}
.make-percentage{
    position: static;
    width: 100%;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
    border: 1px #fff solid;
    
}
.css{
    background-color: rgba(18, 104, 233, 0.829);
    height: 10px;
    border-radius: 5px;
    width: 70%;
}
.html{
    background-color: rgba(248, 130, 19, 0.904);
    height: 10px;
    border-radius: 5px;
    width: 50%;
}
.php{
    background-color: rgba(167, 78, 167, 0.904);
    height: 10px;
    border-radius: 5px;
    width: 50%;
}
.js{
    background-color: rgba(248, 225, 19, 0.904);
    height: 10px;
    border-radius: 5px;
    width: 30%;
}
.angular{
    background-color: rgba(248, 19, 57, 0.904);
    height: 10px;
    border-radius: 5px;
    width: 20%;
}
#projects{
    float: right;
    width: 50%;
    padding-top: 60px;
    margin: -20px 50px 50px 80px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.02);
    border-radius: 10px;
    height: auto;
    border: 1px rgb(212, 210, 210) solid;
}
#projects h3{
    text-align: center;
    font-family: 'Bungee';
    color: #555;
    font-size: 20px;
}
.img-container{
    position: static;
    width: 100%;
    
}
.img-list{
    padding: 10px;
    float: left;
    transition: all .3s ease;
    width: 50%;
}
.img-list img{
    width: 100%;
    transition: all .3s ease;
    background-color: #555;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.02);
    position: static;
    height: auto;
    border: 1px rgb(212, 210, 210) solid;
}
.img-list:hover{
    
    background-color: #555;
    filter: opacity(0.8);
}
.img-list p{
    font-family: 'Bungee';
    color: #555;
    font-size:12px ;
    padding: 5px;
    border-left: 2px rgb(230, 228, 228) solid;
}


@media only screen and (max-width: 400px,){
    #languages{
        justify-content: center;
        width: 100%;
        position: static;
        padding-top: 60px;
        background-color: unset;
        border: unset;
        margin: unset;
        padding-left: 10px;
        padding-right: 10px;

    }
    #languages h3{
        color: #fff;
    }
    #languages sub{
        color: #fff;
        margin: unset;
    }
    .percent-languages sub{
        display: block;
    }
    .box-language{
        width: 100%;
        margin: unset;
        color: #fff;
    }
    .sub{
        display: none;
    }
    .box-language:hover{
        width: 100%;
        margin: unset;
       
    }
    #projects{
        float: right;
        width: 100%;
        padding-top: 20px;
        margin: unset;
        background-color: unset;
        border: unset;

    }
    #projects h3{
        color: #fff;
    }
    .img-list p{
        color: #fff;
    }

    
    .my-info{
        width: 100%;
    }
    .my-info h1{
        font-size: 20px;
    }
    .my-header{
        padding-top:60px;
    }
    .logo p{
        font-size: 10px;
    }
}