
<div class="aboutme">
    <h3>About my Self</h3>
    <div class="paragraph">
        <p>Hi ,I will introduce my self I'm Ruel Baldo factor , Im leave in brgy logero marabut samar
          I'm currently Student at EVSU main tacloban, I took the coure BSIT, this course is more on creating or build the 
          website or a system, I hope my knowledge about building a website is enough to get attention to the user who view my 
          project.
        </p>
        <div class="icons-flex">
         <br>
         <a href="https://web.facebook.com/ruel.baldo.585"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_(2019).png/1200px-Facebook_Logo_(2019).png" alt=""></a>
         
       </div>
    </div>
</div>